body {
  min-width: 325px;
  padding: 10px;
}

h1,h2 {
  text-align: center;
}
h1{
  font-size: 30px;
}


label{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}

#noteInput {
  width: 90%;
  height: 25px;
  margin-bottom: 15px;
  font-size: 17px;

}

#addTimestampBtn {
  width: 100%;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#timestampList {
  list-style: none;
  padding: 0;
}

.eachContainer{
  display: flex;
  align-items: center;
}

.timestampItem {
  display: flex;
  justify-content:end;
  margin-bottom: 8px;
}

.deleteBtn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#markItForm{
  visibility: visible;
}

p{
  display: inline-block;
}

.submit-button{
  visibility: visible;
  font-size: 15px;
  margin-bottom: 4px;
  font-weight: 600;
  padding: 10px;
  margin-left: 27%;
  background-color: #24b4fb;
  transition: all ease-in-out 0.2s;
  border: 2px solid #24b4fb;
  border-radius: 7px;
}

.submit-button:hover {
  background-color: #0071e2;
 }

.timeStampsList {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f5f5f5;
  
}

.timeStampsList div {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.index,
.timeStamp,
.noteAdded {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
}


.index {
  font-weight: bold;
  margin-right: 20px;
}

.timeStamp {
  color: #292929;
  margin-right: 15px;
}

.noteAdded {
  color: #252525;
  margin-right: 20px;
  max-width: 120px;
}

.timeStampsList div:nth-child(odd) {
  background-color: #f8f8f8;
}

.timeStampsList div:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

/* 
Toggle button style */

.btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 20px;
  height: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
  margin-right: 25px;
  margin-left: 15px;
  position: absolute;
  right: 95px;
  

}

.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}


/* Delete button styles */
button {
  width: 80px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
  position: absolute;
  right: 15px;
 
  
 }
 
 button, button span {
  transition: 200ms;
 }
 
 button .text {
  transform: translateX(15px);
  color: white;
  font-weight: bold;
 }
 
 button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(70px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 button svg {
  width: 15px;
  fill: #eee;
 }
 
 button:hover {
  background: #ff3636;
 }
 
 button:hover .text {
  color: transparent;
 }
 
 button:hover .icon {
  width: 80px;
  border-left: none;
  transform: translateX(-4px);
 }
 
 button:focus {
  outline: none;
 }
 
 button:active .icon svg {
  transform: scale(0.8);
 }
