body {
  width: 300px;
  padding: 10px;
}

h1,h2 {
  text-align: center;
}

label{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}

#noteInput {
  width: 90%;
  height: 15px;
  margin-bottom: 15px;

}

#addTimestampBtn {
  width: 100%;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#timestampList {
  list-style: none;
  padding: 0;
}

.eachContainer{
  display: flex;
  align-items: center;
}

.timestampItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.deleteBtn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#markItForm{
  visibility: visible;
}

p{
  display: inline-block;
}

.submit-button{
  visibility: visible;
  font-size: 15px;
  margin-bottom: 4px;
  font-weight: 600;
}

.timeStampsList {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.timeStampsList div {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.index,
.timeStamp,
.noteAdded {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
}


.index {
  font-weight: bold;
  margin-right: 20px;
}

.timeStamp {
  color: #292929;
  margin-right: 15px;
}

.noteAdded {
  color: #252525;
  margin-right: 20px;
}

.timeStampsList div:nth-child(odd) {
  background-color: #f8f8f8;
}

.timeStampsList div:hover {
  background-color: #eee;
  cursor: pointer;
}

/* 
Toggle button style */

.btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 20px;
  height: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;

  

}

.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}
